body {
	font-family: 'Roboto', sans-serif;
}

#map {
	stroke: #fff;
	fill: #ddd;
}

path.route {
	stroke: #1c75bc;
	stroke-width: 1px;
	fill: none;
}

path.active {
	stroke-width: 3px;
}

line {
	stroke: #000;
	stroke-width: 0.5px;
	fill: none;
}

circle {
	fill: #1c75bc;
}

text {
	fill: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	stroke-width: 0px;
}

circle.routeMarker {
	fill: darkorange;
	stroke-width: 1.5px;
	stroke: #1c75bc;
}

span {
	font-size: 36px;
}